<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="YourBotId" />
    <add key="MicrosoftAppId" value="" />
    <add key="MicrosoftAppPassword" value="" />

    <add key="EndPointUrl" value="https://gurubotfb.documents.azure.com:443/" />
    <add key="DatabaseId" value="GuruDB" />
    <add key="CollectionId" value="gurus" />
    <add key="DBAuthorizationKey" value="44INVS89aLcOC0LKlBjPRpSFBrPTTyuEltne8faLuAEEZIDfH5UnD93xBZEzUQirg9LevPc3QBKcdVEKgqsMBg==" />
  </appSettings>
</configuration>